


<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Uploader</title>
</head>
<body>
    <h1>UP FORM COM NODE JS</h1>
<div class="container">
   
    <h2>FORM FOR UP</h>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="UP">
    </form>

</div>

</body>
</html>