body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: black
}
h1{
    color: white;
    margin-top: 1%;
    margin-left: 650px;
}
.container{
    margin-top: 10%;
    margin-left: 600px;
    background-image: linear-gradient(to top, blue, white);
    height: 200px;
    width: 500px;
}
